<div class="p-2 contenedor-juego d-flex flex-column align-items-center">
    <div class="header">
        <div class="timer"></div>
        <div class="title"></div>
        <div class="flags"></div>
    </div>
    <div class="tablero" [ngStyle]="getStylesTablero()">
        <div class="casillero" [ngStyle]="getStylesCells()"  [ngClass]="{'checked': cell.checked}" (click)="clickCell(cell)" (contextmenu)="addFlag($event,cell)" *ngFor="let cell of cells">
            <div class="d-flex flex-row justify-content-center align-items-center h-100 w-100">
                <span *ngIf="cell.checked || cell.flag" [ngClass]="{'one': cell.amountBombs == 1 && !cell.flag , 
                'two': cell.amountBombs == 2 && !cell.flag, 'three': cell.amountBombs == 3 || cell.flag, 
                'four': cell.amountBombs >= 4 && !cell.flag }">
                    {{cell.innerMsg}}
                </span>
            </div>
        </div>
    </div>
</div>