@import '~bootstrap/scss/bootstrap';
@font-face {
    font-family: digital;
    src: url(assets/fonts/DS-DIGI.TTF) format("truetype");
    font-weight: bold;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
